body {
  /* For flex on main */
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Showboat;
  font-weight: 100;
  font-size: calc(2rem + 4vw);
}

h1,
h2 {
  text-wrap: balance;
}

main {
  /* Push footer to bottom */
  flex: 1;
}

a,
.a {
  font-family: var(--font-1);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

a:hover,
a:focus,
.a:hover,
.a:focus {
  text-decoration: none;
}

img {
  box-shadow: #666 0 4px 10px;
}

.sidebar.main {
  display: flex;
  gap: 4rem;
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.more {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

@media screen and (min-width: 850px) {
  body {
    font-size: 1.25rem;
  }
}