:root {
  --background-color: #FFF2E8;
  --color-2: #b40002;
  --color-3: #0057b7;
  --color-4: #212121;
  --color-5: #FFDD00;

  --font-1: "Lissain";
  --font-2: "Arizonia";
  --font-3: "Ostrovsky";
  --font-4: "Tinos";
  --font-4-bold: "Tinos Bold";
  --font-5: "LevType";
}