@import url("/src/styles/_fonts.css");
@import url("/src/styles/_reset.css");
@import url("/src/styles/_config.css");
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

body {
  background-color: var(--color-1);
  max-width: 60rem;
  margin: 0 auto;
}

header {
  text-align: center;
}

main {
  padding: 0 0.5rem;
}

h2 {
  font-family: var(--font-3);
  font-size: calc(1rem + 5vw);
  margin-top: 0;
  color: inherit;
  text-align: center;
  filter: drop-shadow(0px 1px 1px #717171);
}

p {
  font-family: var(--font-5);
  text-align: justify;
  color: black;
  line-height: 1.5;
}

a {
  font-family: var(--font-4);
  color: var(--color-2);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

a:hover,
a:focus {
  text-decoration: none;
}

picture {
  filter: drop-shadow(0px 2px 2px #4e4e4e);
}