@import url("/src/styles/_fonts.css");
@import url("/src/styles/_reset.css");
@import url("/src/styles/_config.css");
@import url("/src/styles/_utilities.css");

html {
  background-color: var(--color-3);
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  color: var(--color-2);
}

h2 {
  font-family: var(--font-3);
  font-variant: small-caps;
  font-size: calc(2rem + 3vw);
  filter: drop-shadow(0px 0.5px 0.5px #666);
}

h3 {
  font-family: var(--font-4-bold);
  font-variant: small-caps;
  text-align: center;
}

p {
  font-family: var(--font-4);
  text-align: justify;
  color: black;
  line-height: 1.5;
}

a,
.a {
  color: var(--color-2);
}

img {
  border-radius: 2px;
}

::selection {
  background-color: var(--color-2);
  /* Background color for the selected text */
  color: var(--background-color);
  /* Text color for the selected text */
}