---
import Base from "../layouts/Base.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
import { dev } from "../../config.mjs";
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
---

<Base title="Page Not Found" description="Page not found.">
  <Header>
    <h1>Page Not Found</h1>
  </Header>
  <MainContent>
    <p>
      It looks like this page doesn't exist. If you think this is a mistake,
      please email our developer at <a href=`mailto:${dev.email}`
        >samuelfeldstein@proton.me</a
      >.
    </p>
  </MainContent>
</Base>
