---
import Base from "../layouts/Base.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
import { dev } from "../../config.mjs";
---

<Base title="Page Not Found" description="Page not found.">
  <h1>Page Not Found</h1>
  <p>
    It looks like this page doesn't exist. If you think this is a mistake,
    please send an email to <a href=`mailto:${dev.email}`
      >samuelfeldstein@proton.me</a
    >.
  </p>

  <HorizontalRule />
</Base>
