---
// Components
import Base from "../layouts/Base.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
import { Picture } from "astro:assets";

// Images
import cover from "/src/images/lessons-cover.jpg";
import wedding from "/src/images/wedding.jpg";
---

<Base title="Danceophile Studio">
  <Header>
    <h1>Danceophile Studio</h1>
  </Header>
  <MainContent>
    <Picture
      class:list={"cover"}
      src={cover}
      formats={["avif", "webp", "jpeg"]}
      alt="Two ballroom swing dancers dancing under lights."
    />

    <p class="intro">
      Danceophile Studio offers lessons in ballroom, swing, folk, contra, and
      country dance, led by Colorado Legends of Dance recipient <a
        href="/tom-masterson/">Tom Masterson</a
      >. <strong
        >Classes are open to all experience levels. No partner needed.</strong
      >
    </p>

    <section>
      <h2 id="ballroom-dance-lessons">Introduction to Ballroom Dance</h2>
      <p>
        A four-week introduction to the smooth Foxtrot, upbeat Swing, graceful
        Waltz, and seductive Tango with an emphasis on leading, following, and
        communicating with a partner.
      </p>

      <p><strong>No experience or partner needed.</strong></p>

      <section class="details">
        <h3 class="vis-hid">Details</h3>
        <div>
          <h4>Time</h4>
          <div>Sundays, 6:30pm - 8pm</div>
        </div>
        <div>
          <h4>Place</h4>
          <div>
            <a
              class="address"
              href="https://maps.app.goo.gl/7fttA6CCH5VmFk1S9"
              target="_blank">Danceophile Studio</a
            >
          </div>
        </div>
        <div>
          <h4>Cost</h4>
          <div>
            $105 for couples and $55 for singles. <em
              ><strong>Rates cover the entire four-week class.</strong></em
            >
          </div>
        </div>
      </section>
    </section>

    <HorizontalRule />

    <section class="blue">
      <h2 id="private-instruction">
        Wedding Dance Choreography & Private Instruction
      </h2>
      <Picture
        src={wedding}
        formats={["avif", "webp", "jpeg"]}
        alt="A bride and groom performing a dip."
      />
      <p>
        We offer private instruction in Ballroom, Swing, Folk, Contra, Country,
        and Performance, choreographed to your favorite music. We are happy to
        instruct individuals, couples, groups, parties, and wedding receptions.
      </p>

      <p>
        Classes are held at <a
          class="address"
          href="https://maps.app.goo.gl/7fttA6CCH5VmFk1S9"
          target="_blank">Danceophile Studio</a
        >, and are available by appointment.
      </p>
    </section>
  </MainContent>
</Base>

<style>
  h2 {
    margin-top: 1em;
  }

  h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  section {
    text-align: center;
  }

  .intro,
  .details {
    padding: 1rem;
    font-variant: small-caps;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 1rem;
    font-family: var(--font-4);
    font-variant: small-caps;
  }

  .details {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .vis-hid {
    position: absolute;
    translate: -1000%;
  }
</style>
