---
import Base from "../layouts/Base.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
// Images
import { Picture } from "astro:assets";
import cover from "/src/images/events-cover.jpg";
// Data
import { cottonwood } from "../../events.mjs";
---

<Base title="Events">
  <Picture
    src={cover}
    formats={["avif", "webp", "jpeg"]}
    alt="A group of Ukrainian folk dancers performing on a stage."
  />
  <h1>Events</h1>
  <p class="intro">
    Danceophile Studio offers lessons in ballroom, swing, folk, contra, and
    country dance, led by Colorado Legends of Dance recipient <a href="/about/"
      >Tom Masterson</a
    >. <strong
      >Classes are open to all experience levels. No partner needed.</strong
    >
  </p>

  <HorizontalRule />

  <section class="blue">
    <h2>Dancing on Cottonwood Square</h2>
    <p>
      Join us on summer Friday nights for dancing under the stars on <a
        href="https://maps.app.goo.gl/X6xReK4ws5zwQxqQA">Cottonwood Square</a
      > in Niwot. Dances include folk, salsa, swing, ballroom, and more.
    </p>

    <p>
      <strong>Beginners are always welcome. No partner needed.</strong>
    </p>

    <section class="details">
      <h3 class="vis-hid">Details</h3>
      <div>
        <h4>Time</h4>
        <div>Class begins at 7pm. Dancing goes till 9:45pm.</div>
      </div>
      <div>
        <h4>Place</h4>
        <div>
          <a href="https://maps.app.goo.gl/X6xReK4ws5zwQxqQA" target="_blank"
            >Cottonwood Square</a
          > in Niwot.
        </div>
      </div>
      <div>
        <h4>Cost</h4>
        <div>FREE</div>
      </div>
    </section>

    <section class="schedule">
      <h3>Summer {cottonwood[0].year} Schedule</h3>
      <ul>
        {
          cottonwood.map((data) =>
            data.events.map((event) => (
              <li>
                <span class="date">{event.date}</span>
                <span class="dots" />
                <span class="dance">{event.dance}</span>
              </li>
            )),
          )
        }
      </ul>
    </section>
  </section>

  <HorizontalRule />
</Base>

<style>
  .intro,
  section.schedule,
  .details {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-variant: small-caps;
  }

  .details {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    margin: 0 auto;
    gap: 1rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.25rem;
  }

  h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .dots {
    flex-grow: 1;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: #000;
  }

  .vis-hid {
    position: absolute;
    translate: -1000%;
  }
</style>
