---
// Layout
import Base from "../layouts/Base.astro";

// Components
import HorizontalRule from "../components/HorizontalRule.astro";
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";

// Images
// Adding this comment so I can have a change to commit
// import cover from "/src/images/events-cover.jpg";

// Data
import { events } from "../../events.mjs";
const cottonwood = events[0].cottonwood;
---

<Base title="Events">
  <Header>
    <h1>Dance Events</h1>
  </Header>
  <MainContent>
    <!-- <Image
      src={cover}
      widths={[240, 540, 720, cover.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="A group of Ukrainian folk dancers performing on a stage."
    /> -->
    <p class="intro">
      Danceophile hosts and promotes dance events in Boulder, Northern Colorado,
      and the Denver Metro Area. Events include social dances, performances,
      workshops, and more.
      <a class="more" href="#upcoming-events">See our upcoming events ☞</a>
    </p>

    <section>
      <h2 id="upcoming-events">Upcoming Events</h2>
      <div class="event">
        <h3><a href="#cottonwood">Dancing on Cottonwood Square</a></h3>
        <time datetime="2025-06-24"><strong>June 24, 2025</strong></time>
      </div>
      <div class="event">
        <h3><a href="#folk-dancing">Folk Dancing in the Mountains</a></h3>
        <time datetime=""><strong>?</strong></time>
      </div>
      <div class="event">
        <h3><a href="#cottonwood">Dancing on Cottonwood Square</a></h3>
        <time datetime="2025-07-01"><strong>July 1, 2025</strong></time>
      </div>
      <details>
        <summary class="events a">More Events</summary>
        <div class="event">
          <h3><a href="#cottonwood">Dancing on Cottonwood Square</a></h3>
          <time datetime="2025-06-24"><strong>June 24, 2025</strong></time>
        </div>
        <div class="event">
          <h3><a href="#folk-dancing">Folk Dancing in the Mountains</a></h3>
          <time datetime=""><strong>?</strong></time>
        </div>
        <div class="event">
          <h3><a href="#cottonwood">Dancing on Cottonwood Square</a></h3>
          <time datetime="2025-07-01"><strong>July 1, 2025</strong></time>
        </div>
      </details>
    </section>

    <HorizontalRule />

    <section class="cottonwood">
      <h2 id="cottonwood">Dancing on Cottonwood Square</h2>
      <p>
        Join us on summer Friday nights for dancing under the stars on <a
          href="https://maps.app.goo.gl/X6xReK4ws5zwQxqQA"
          target="_blank">Cottonwood Square</a
        > in Niwot. Dances include folk, salsa, swing, ballroom, and more.
      </p>

      <p>
        <strong>Beginners are always welcome. No partner needed.</strong>
      </p>

      <section class="details">
        <h3 class="vis-hid">Details</h3>
        <div>
          <h4>Time</h4>
          <div>Class begins at 7pm. Dancing goes till 9:45pm.</div>
        </div>
        <div>
          <h4>Place</h4>
          <div>
            <a href="https://maps.app.goo.gl/X6xReK4ws5zwQxqQA" target="_blank"
              >Cottonwood Square</a
            > in Niwot.
          </div>
        </div>
        <div>
          <h4>Cost</h4>
          <div>FREE</div>
        </div>
      </section>

      <section class="schedule">
        <h3>Summer {cottonwood[0].year} Schedule</h3>
        <ul>
          {
            cottonwood.map((data) =>
              data.events.map((event) => (
                <li>
                  <span class="date">{event.date}</span>
                  <span class="dots" />
                  <span class="dance">{event.dance}</span>
                </li>
              )),
            )
          }
        </ul>
      </section>
      <video controls="controls" preload="auto" poster="/images/cottonwood.jpg">
        <source src="/videos/cottonwood.mp4" type="video/mp4" />
        <source src="/videos/cottonwood.webm" type="video/webm" />
      </video>
    </section>

    <HorizontalRule />

    <section>
      <h2 id="folk-dancing">Folk Dancing in the Mountains</h2>
      <p>
        Join us at the <a
          class="address"
          href="https://maps.app.goo.gl/AiY4UTiUy9nm1upr5"
          target="_blank">Nederland Community Center</a
        > to meet wonderful folks, eat great snacks, and dance fun dances from around
        the world.
      </p>

      <p>
        Carpool leaves at 6:15pm from <a
          href="https://maps.app.goo.gl/9fPoJrqXurqbcnh4A"
          target="_blank">Danceophile Studio</a
        > or 6:30pm from the <a
          href="https://maps.app.goo.gl/TTebo7TbQ5mVFcwy5"
          target="_blank">Boulder Justice Center</a
        > parking lot at 6th & Canyon.
      </p>

      <p><strong>No experience or partner needed.</strong></p>

      <section class="details">
        <h3 class="vis-hid">Details</h3>
        <div>
          <h4>Time</h4>
          <div>Mondays, 7pm - 9:15pm.</div>
        </div>
        <div>
          <h4>Place</h4>
          <div>
            <a
              class="address"
              href="https://maps.app.goo.gl/AiY4UTiUy9nm1upr5"
              target="_blank">Nederland Community Center</a
            >
          </div>
        </div>
        <div>
          <h4>Cost</h4>
          <div>FREE</div>
        </div>
      </section>
    </section>
  </MainContent>
</Base>

<style>
  video {
    box-shadow: #666 0 4px 10px;
    border-radius: 2px;
  }

  .intro,
  section.schedule,
  .details,
  .event {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    font-variant: small-caps;
  }

  .details,
  .event {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .details {
    gap: 2rem;
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  section {
    margin-bottom: 1rem;
  }

  section.cottonwood > * {
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    margin: 0 auto;
    gap: 1rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.25rem;
  }

  h3 {
    margin-top: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  summary.events {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .dots {
    flex-grow: 1;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: #000;
  }

  .vis-hid {
    position: absolute;
    translate: -2000%;
  }

  .event {
    margin-bottom: 1rem;
  }
</style>
