---
import Base from "../layouts/Base.astro";
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
---

<Base title="Form Submission" description="Form submission.">
  <Header>
    <h1>Success!</h1>
  </Header>
  <MainContent>
    <p>Your form was submitted successfully!</p>
    <p><a href="/">â† Return to home</a></p>
  </MainContent>
</Base>
