---
// Components
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";
import Copyright from "../components/Copyright.astro";

// Images
import { Picture } from "astro:assets";
import flyout from "/src/images/flyout.jpg";
import lift from "/src/images/tom-greg-lift.jpg";
import tomLaurie from "/src/images/tom-laurie.jpg";
import niwot from "/src/images/cottonwood.jpg";
---

<html lang="en">
  <Head title="Home" />
  <body>
    <Skiplink />
    <main id="main-content">
      <header>
        <h2 class="postoley">
          <a href="/postoley/">
            <div class="nowrap">
              <span class="drop-cap">Postoley</span>
              <span class="drop-cap">Dance</span>
            </div>
            <div class="drop-cap">Ensemble</div>
            <div class="small">Постоли</div>
          </a>
        </h2>
        <h2 class="danceophile">
          <a href="/danceophile/">
            <div class="drop-cap">Danceophile</div>
            <div class="drop-cap">Studio</div>
            <div class="small">with Tom Masterson</div>
          </a>
        </h2>
      </header>
      <section class="pics">
        <div class="postoley">
          <Picture
            src={flyout}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a Ukrainian folk dance flyout."
          />
          <Picture
            src={lift}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a Ukrainian folk dance lift."
          />
        </div>
        <div class="danceophile">
          <Picture
            src={tomLaurie}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a waltz move."
          />
          <Picture
            src={niwot}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a Ukrainian folk dance lift."
          />
        </div>
      </section>
    </main>
    <footer>
      <Copyright />
    </footer>
  </body>
</html>

<style>
  main {
    display: grid;
    padding: 0 1rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .pics > div {
    /* padding: 0 1rem; */
  }

  h2 {
    /* text-wrap: nowrap; */
    font-family: Ostrovsky;

    /* @media screen and (min-width: 1000px) {
      font-size: 2rem;
    } */
  }

  h2.danceophile {
    color: var(--color-3);
  }

  h2 a {
    text-decoration: none;
    font-family: unset;
    color: unset;
  }

  .headers {
    display: flex;
    gap: 2rem;
  }

  .drop-cap {
    -webkit-text-stroke: 0.005em black;
  }

  .drop-cap::first-letter {
    font-size: 1.75em;
    font-family: "Grusskarten";
    font-weight: 100;
  }

  span.drop-cap {
    display: inline-block;
  }

  .nowrap {
    text-wrap: nowrap;
  }

  .small {
    font-size: 0.5em;
    margin-top: 1em;
  }
</style>
