---
// Components
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";
import Copyright from "../components/Copyright.astro";
import HorizontalRule from "../components/HorizontalRule.astro";

// Images
import { Picture } from "astro:assets";
import flyout from "/src/images/flyout.jpg";
import lift from "/src/images/tom-greg-lift.jpg";
import tomLaurie from "/src/images/tom-laurie.jpg";
import niwot from "/src/images/cottonwood.jpg";
---

<html lang="en">
  <Head title="Home" />
  <body>
    <Skiplink />
    <main id="main-content">
      <header>
        <h2 class="postoley">
          <a href="/postoley/">
            <div class="nowrap">
              <span class="drop-cap">Postoley</span>
              <span class="drop-cap">Dance</span>
            </div>
            <div class="drop-cap">Ensemble</div>
            <div class="small">Постоли</div>
          </a>
        </h2>
        <h2 class="danceophile">
          <a href="/danceophile/">
            <div class="drop-cap">Danceophile</div>
            <div class="drop-cap">Studio</div>
            <div class="small">with Tom Masterson</div>
          </a>
        </h2>
      </header>
      <section class="pics">
        <a class="pics postoley" href="/postoley/">
          <Picture
            src={flyout}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a Ukrainian folk dance flyout."
          />
          <Picture
            src={lift}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a Ukrainian folk dance lift."
          />
        </a>
        <a class="pics danceophile" href="/danceophile/">
          <Picture
            src={tomLaurie}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a waltz move."
          />
          <Picture
            src={niwot}
            formats={["avif", "webp", "jpeg"]}
            alt="Tom Masterson and a dance partner performing a Ukrainian folk dance lift."
          />
        </a>
      </section>
      <HorizontalRule />
      <section class="directory">
        <h2>Directory</h2>
        <div class="links">
          <a href="/danceophile/">Danceophile Studio</a>
          <a href="/postoley/">Postoley Dance Ensemble</a>
          <a href="/tutoring/">Physics & Math Tutoring</a>
          <a href="/back-country-tours/">Back Country Tours</a>
          <a href="/folk-dance-classes/">Folk Dance Classes</a>
          <a href="/folk-dance-database.xls">Folk Dance Database</a>
          <a href="/tom-masterson/">Meet Tom</a>
          <a href="/gallery/">Gallery</a>
        </div>
      </section>
    </main>
    <footer>
      <Copyright />
    </footer>
  </body>
</html>

<style>
  main {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  h2 {
    font-size: 4rem;
  }

  section.pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  a.pics {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
  }

  h2 {
    /* text-wrap: nowrap; */
    font-family: Ostrovsky;

    /* @media screen and (min-width: 1000px) {
      font-size: 2rem;
    } */
  }

  h2.danceophile {
    color: var(--color-3);
  }

  h2 a {
    text-decoration: none;
    font-family: unset;
    color: unset;
  }

  .headers {
    display: flex;
    gap: 2rem;
  }

  .drop-cap {
    -webkit-text-stroke: 0.005em black;
  }

  .drop-cap::first-letter {
    font-size: 1.75em;
    font-family: "Grusskarten";
    font-weight: 100;
  }

  span.drop-cap {
    display: inline-block;
  }

  .nowrap {
    text-wrap: nowrap;
  }

  .small {
    font-size: 0.5em;
    margin-top: 1em;
  }

  section.directory {
    margin-bottom: 8rem;
  }

  div.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 1.5em;
    font-size: 2rem;
  }

  div.links a {
    font-family: "Tinos Bold";
    font-variant: small-caps;
    text-decoration: none;
    color: black;
  }

  div.links a:hover,
  div.links a:hover {
    text-decoration: underline;
    color: var(--color-2);
    text-decoration-thickness: 0.045em;
    text-underline-offset: 0.15em;
  }
</style>

<style is:global>
  .copyright a {
    font-family: "Lissain";
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

  .copyright a:hover,
  .copyright a:focus {
    text-decoration: none;
  }
</style>
