---
import Base from "../layouts/Base.astro";
---

<Base title="Home">
  <p>
    Danceophile Studio in Boulder offers lessons in ballroom, swing, folk,
    contra, and country dance, led by Colorado Legends of Dance recipient Tom
    Masterson. Our Postoley Dance Ensemble offers a strong focus on Ukrainian
    culture through performances and workshops for schools, festivals, and
    events. Classes are open to all experience levels—no partner needed.
  </p>

  <h2>Upcoming Events</h2>
</Base>
