---
import Base from "../layouts/Base.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
import { Picture } from "astro:assets";
import cover from "/src/images/lessons-cover.jpg";
---

<Base title="Dance Lessons">
  <Picture
    src={cover}
    formats={["avif", "webp", "jpeg"]}
    alt="Two ballroom swing dancers dancing under lights."
  />
  <h1>Dance Lessons</h1>
  <p class="intro">
    Danceophile Studio offers lessons in ballroom, swing, folk, contra, and
    country dance, led by Colorado Legends of Dance recipient <a href="/about/"
      >Tom Masterson</a
    >. <strong
      >Classes are open to all experience levels. No partner needed.</strong
    >
  </p>

  <HorizontalRule />

  <section class="red">
    <h2>Introduction to Ballroom Dance</h2>
    <p>
      A four-week introduction to the smooth Foxtrot, upbeat Swing, graceful
      Waltz, and seductive Tango with an emphasis on leading, following, and
      communicating with a partner.
    </p>

    <p>
      Classes are held at <a
        class="address"
        href="https://maps.app.goo.gl/7fttA6CCH5VmFk1S9"
        target="_blank">Danceophile Studio</a
      > on <strong>Sundays from 6:30pm - 8pm</strong>.
    </p>

    <p>
      Rates are $105 for couples and $55 for singles. <em
        ><strong>Rates cover the entire four-week class.</strong></em
      >
    </p>
  </section>

  <p><strong>No experience or partner needed.</strong></p>

  <HorizontalRule />

  <section class="blue">
    <h2 id="private-instruction">
      Wedding Dance Choreography & Private Instruction
    </h2>
    <p>
      Private instruction in Ballroom, Swing, Folk, Contra, Country, and
      Performance, choreographed to your favorite music. We are happy to
      instruct individuals, couples, groups, parties, and wedding receptions.
    </p>

    <p>
      Classes are held at <a
        class="address"
        href="https://maps.app.goo.gl/7fttA6CCH5VmFk1S9"
        target="_blank">Danceophile Studio</a
      >, and are available by appointment.
    </p>
  </section>

  <HorizontalRule />

  <section class="red">
    <h2>Folk Dancing in the Mountains</h2>
    <p>
      Join us at the <a
        class="address"
        href="https://maps.app.goo.gl/AiY4UTiUy9nm1upr5"
        target="_blank">Nederland Community Center</a
      > to meet wonderful folks, eat great snacks, and dance fun dances from around
      the world.
    </p>

    <p>
      Dancing happens on <strong>Mondays from 7pm - 9:15pm</strong>. Carpool
      leaves at 6:15 from <a
        href="https://maps.app.goo.gl/9fPoJrqXurqbcnh4A"
        target="_blank">Danceophile Studio</a
      > or 6:30 from the <a
        href="https://maps.app.goo.gl/TTebo7TbQ5mVFcwy5"
        target="_blank">Justice Center</a
      > parking lot at 6th & Canyon.
    </p>
    <p><strong>No experience or partner needed.</strong></p>
  </section>

  <HorizontalRule />
</Base>

<style>
  h2 {
    margin-top: 1em;
  }

  .intro {
    padding: 1rem;
    font-variant: small-caps;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1rem;
    font-family: var(--font-4);
    font-variant: small-caps;
  }
</style>
