---
import Base from "../layouts/Base.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
import { Picture } from "astro:assets";
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";

// Images
import cover from "/src/images/postoley-cover.jpg";
import workshops1 from "/src/images/workshops-1.jpg";
---

<Base title="Postoley">
  <Header>
    <h1>Postoley Dance Ensemble</h1>
  </Header>
  <MainContent>
    <Picture
      class:list={"cover"}
      src={cover}
      formats={["avif", "webp", "jpeg"]}
      alt="Two pairs of postoley folk dancers."
    />

    <p class="intro blue">
      Postoley Dance Ensemble is a performing ethnic dance company specializing
      in the culture, music, and dance of Ukraine and Poland. We are a
      registered 501(c)(3) nonprofit devoted to promoting multi-cultural
      understanding.
    </p>

    <HorizontalRule />

    <section class="ukraine">
      <div class="flag">
        <h2>Support for Ukraine</h2>
      </div>
      <p>
        Tom is offering workshops in Ukrainian dance for both recreational
        groups and performing ensembles. He studied dance with the Bukovinian,
        Virsky, Iunist, and Ivano-Frankivsk ensembles in Ukraine both during and
        after the reign of the Soviet Union. He feels deeply about the Russian
        war of aggression in Ukraine, and is doing everything he can to support
        the people, culture, heritage and dance of Ukraine.
      </p>
    </section>

    <HorizontalRule />

    <section class="introduction">
      <h2>Introduction</h2>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/fTkBej-t5Nw"
        title="Postoley Introduction Video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </section>

    <HorizontalRule />

    <section>
      <h2>Live Performances & Workshops</h2>
      <Picture
        src={workshops1}
        formats={["avif", "webp", "jpeg"]}
        alt="A group photo of the Postoley Dance Ensemble at a workshop."
      />
      <p>
        Postoley offers spectacular and informative performances for schools,
        universities, festivals, parties and special programs. Performances are
        done in beautiful original costumes with authentic live music.
      </p>

      <p>
        We also offer workshops in Ukrainian dance & culture for schools,
        universities, and groups of all ages.
      </p>

      <p>
        For performance or workshop requests, <a
          href="mailto:masterst@colorado.edu">email Tom</a
        >
        or give him a call at <a href="tel:+13034996363">(303) 499-6363</a>.
      </p>
    </section>

    <HorizontalRule />

    <section class="red">
      <h2>Rehearsals</h2>
      <p>
        Weekly rehearsals are held at <a
          href="https://maps.app.goo.gl/9fPoJrqXurqbcnh4A">Danceophile Studio</a
        >. New members are always welcome. The only prerequisites are some dance
        experience (of any sort), a willingness to learn, and enthusiasm.
      </p>

      <p>We also have openings for musicians and singers!</p>

      <p>
        <a href="tel:+13034996363">Call</a> or <a
          href="mailto:masterst@colorado.edu">email</a
        > Tom for rehearsal times.
      </p>
    </section>
  </MainContent>
</Base>

<style>
  .intro {
    font-variant: small-caps;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
  }

  .ukraine {
    padding: 0 2px;
  }

  .flag {
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 2rem;
    filter: drop-shadow(0px 1px 1px #000);
    background: rgb(0, 87, 183);
    background: -moz-linear-gradient(
      180deg,
      rgba(0, 87, 183, 1) 50%,
      rgba(255, 221, 0, 1) 50%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 87, 183, 1) 50%,
      rgba(255, 221, 0, 1) 50%
    );
    background: linear-gradient(
      180deg,
      rgba(0, 87, 183, 1) 50%,
      rgba(255, 221, 0, 1) 50%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057b7",endColorstr="#ffdd00",GradientType=1);
  }

  .flag h2 {
    background-color: var(--background-color);
    color: var(--color-2);
    margin: 0;
    padding: 0.5em;
    border-radius: 2px;
    filter: drop-shadow(0px 1px 1px #000);
  }

  section.introduction {
    text-align: center;
  }

  iframe {
    max-width: 100%;
  }
</style>
