---
import Base from "../layouts/Base.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
import { Picture } from "astro:assets";
import cover from "/src/images/tom-2.jpg";
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
---

<Base title="About">
  <Header>
    <h1>Tom Masterson</h1>
  </Header>
  <MainContent>
    <section class="intro">
      <Picture
        class:list={"cover"}
        src={cover}
        formats={["avif", "webp", "jpeg"]}
        alt="A professional head shot of Tom Masterson."
      />
      <p class="intro">
        Dr. Tom Masterson is the founder and director of Danceophile Studio and
        the <a href="/postoley/">Postoley Dance Ensemble</a>, a performing
        ethnic dance company specializing in the dance and culture of Ukraine,
        Poland, and Eastern Europe.
      </p>
    </section>

    <section>
      <h2>Dance Background</h2>
      <p>
        Tom studied traditional ethnic dance, choreography and performance with
        several world-renowned companies, including the Bukovinian and Virsky
        ensembles in Ukraine and the Marie Curie Skodlowska University Institute
        for Choreography in Lublin, Poland.
      </p>

      <p>
        Some of his favorite dances include "Bukovinian Spring" arranged to the
        world-famous "Bukovinian Melodies" music, a gypsy dance from Romania
        appropriately titled "Good Luck", and a beautiful Carpatho-Rus' dance
        from Ushorod on the Ukrainian-Slovak border.
      </p>

      <p>
        Tom also teaches American Swing (Jitterbug, East Coast, Lindy,
        Charleston), Waltz, Cha-Cha, and Country-Western Dance.
      </p>

      <a class="more" href="/danceophile/">Sign Up for a Class ☞</a>
    </section>

    <HorizontalRule />

    <section>
      <h2>Personal Interests</h2>
      <p>
        In addition to dance, Tom teaches physics and mathematics, speaks
        several languages, runs ultra-marathons, climbs high peaks around the
        world, and is a master chef. He is the recipient of the “Legends of
        Dance in Colorado” award and the Boulder “Pacesetter of the Year” award.
      </p>

      <h3>Mountaineering</h3>

      <p>
        Tom has thirty-five years' experience teaching mountaineering, skiing,
        and wilderness survival skills. He is the owner of and principal
        instructor for Back Country Tours, a mountain guide service and ski and
        mountaineering school recognized by the Professional Ski Instructors of
        America.
      </p>

      <p>
        Tom is a PSIA-certified cross-country ski instructor and mountain tour
        guide, and has also taught the High Altitude Mountaineering section of the
        Colorado Mountain Club, the Lake Eldora Ski Area, the University of
        British Columbia Mountaineering Club, University of Wisconsin Hoofers,
        and Deutscher Alpenverein in Germany.
      </p>

      <p>
        In the winter, Tom teaches cross country, back country, telemark,
        mountain leadership, and avalanche courses. In the summer, he teaches
        climbing and mountaineering, and guides expeditions world-wide.
      </p>

      <p>
        For more information, <a href="mailto:masterst@colorado.edu"
          >email Tom</a
        >
        or give him a call at <a href="tel:+13034996363">(303) 499-6363</a>.
      </p>
    </section>
  </MainContent>
</Base>

<style>
  h3 {
    margin-top: 4rem;
  }

  p.intro,
  .details {
    font-variant: small-caps;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
  }

  .cover {
    border: 15px solid white;
  }
</style>
