---
// Layout
import Base from "../layouts/Base.astro";

// Components
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
---

<Base title="Tutoring">
  <Header>
    <h1>Physics and Math Tutoring</h1>
  </Header>
  <MainContent>
    <p>
      Tom is a retired physics professor and offers private instruction for most
      university math and physics classes.
    </p>

    <p><a href="/contact/">Contact</a> him for more information.</p>
  </MainContent>
</Base>
