<div class="copyright small">
  <p>
    Site designed and built by <a
      href="https://samfeldstein.xyz"
      target="_blank">Sam Feldstein</a
    >.
    <span>
      Copyright © <span id="year"></span>
      <a href="/about/">Tom Masterson</a>. All Rights Reserved.
    </span>
  </p>
</div>

<style>
  .small {
    background-color: var(--color-3);
    width: 100%;
    filter: drop-shadow(0px -1px 1px #666);
    font-size: 0.75rem;
    padding: 0.25em 0;
  }

  p {
    font-style: italic;
    text-align: center;
    color: var(--background-color);
    padding: 0.5em;
    margin: 0;
  }

  a {
    color: var(--background-color);
  }
</style>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
