<div>
  <p>
    Site designed and built by <a href="https://samfeldstein.xyz"
      >Sam Feldstein</a
    >.
  </p>
  <p>
    Copyright © <span id="year"></span>
    <a href="/tom-masterson">Tom Masterson</a>. All Rights Reserved.
  </p>
</div>

<style>
  div {
    background-color: var(--color-2);
    width: 100%;
    padding: 0.5rem 0;
    filter: drop-shadow(0px -1px 1px #717171);
  }

  p {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
    margin: 0;
    color: var(--color-1);
  }

  a {
    color: var(--color-1);
  }
</style>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
