<div>
  <p>
    Site <a href="/site-design/">designed</a> and built by <a
      href="https://samfeldstein.xyz"
      target="_blank">Sam Feldstein</a
    >.
  </p>
  <p>
    Copyright © <span id="year"></span>
    <a href="/about/">Tom Masterson</a>. All Rights Reserved.
  </p>
</div>

<style>
  div {
    background-color: var(--color-3);
    width: 100%;
    padding: 1rem 0;
    filter: drop-shadow(0px -1px 1px #666);
  }

  p {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
    margin: 0;
    color: var(--background-color);
  }

  a {
    color: var(--background-color);
  }
</style>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
