<small>
  <p>
    Site <a href="/site-design/">designed</a> and built by <a
      href="https://samfeldstein.xyz"
      target="_blank">Sam Feldstein</a
    >. Copyright © <span id="year"></span>
    <a href="/about/">Tom Masterson</a>. All Rights Reserved.
  </p>
</small>

<style>
  small {
    background-color: var(--color-3);
    width: 100%;
    padding: 1em 0.5em;
    filter: drop-shadow(0px -1px 1px #666);
    text-wrap: balance;
  }

  p {
    font-style: italic;
    text-align: center;
    margin: 0;
    color: var(--background-color);
  }

  a {
    color: var(--background-color);
  }
</style>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
