<form name="email-collection" method="POST" netlify>
  <input type="hidden" name="form-name" value="email-collection" />

  <div>
    <label for="email"> Email Address </label>
    <input
      type="email"
      name="email"
      id="email"
      required
      placeholder="you@example.com"
    />
  </div>

  <div>
    <label for="name"> Name (Optional) </label>
    <input type="text" name="name" id="name" placeholder="Your name" />
  </div>

  <button type="submit">Subscribe</button>
</form>
