---
import Copyright from "./Copyright.astro";
import Social from "./Social.astro";
---

<footer>
  <a class="logo" href="/">Danceophile<br />Studio</a>

  <Social />
  <Copyright />

  <style>
    footer {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }

    .logo {
      font-size: calc(2rem + 2vw);
      text-decoration: none;
      filter: drop-shadow(0px 1px 1px #717171);
      color: var(--color-3);
    }
  </style>
</footer>
