---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
import { Picture } from "astro:assets";
import cover from "/src/images/danceophile-cover.jpg";
---

<header>
  <div>
    <Logo />
  </div>
  <Nav />
  <Picture
    src={cover}
    formats={["avif", "webp", "jpeg"]}
    alt="Ukrainian folk dancers performing on a stage."
  />
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
  }
</style>
