---
// Components
import Icons from "../components/Icons.astro";
import { ViewTransitions } from "astro:transitions";

// Data
import { site } from "../../config.mjs";

// Styles
import "/src/styles/global.css";

// Props
const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <slot />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description || site.description} />
  <title>{title} | {site.title}</title>
  <ViewTransitions />
  <Icons />
</head>
