---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
---

<header>
  <div>
    <Logo />
  </div>
</header>
<!-- This is outside the header because if it's inside sticky stops working. -->
<Nav />

<style>
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
</style>
