---
const { class: className, ...rest } = Astro.props;
---

<div class="container">
  <a class="danceophile" href="/danceophile/">
    <span class="dropcap">Danceophile</span>
    <span class="dropcap studio">Studio</span>
  </a>
  <a class="postoley" href="/postoley/">
    <span class="dropcap">Postoley</span>
    <span class="dropcap">Dance</span>
    <span class="dropcap">Ensemble</span>
  </a>
</div>

<style>
  a {
    text-decoration: none;
    font-family: var(--font-5);
    font-variant: small-caps;
    font-size: calc(1rem + 2vw);
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1rem;
  }

  span {
    display: block;
    -webkit-text-stroke: 0.005em black;
  }

  .studio {
    margin-top: -0.5em;
  }

  .dropcap::first-letter {
    font-size: 1.75em;
    font-family: "Grusskarten", Georgia, 'Times New Roman', Times, serif;
  }

  .postoley {
    color: var(--color-3);
    border-top-style: solid;
    border-width: 1px;
  }

  .danceophile {
    border-bottom-style: solid;
    border-width: 2px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.095em;
  }
</style>
