---
const { class: className, ...rest } = Astro.props;
---

<a class={className} {...rest} href="/">
  <span class="dropcap">Danceophile</span>
  <span class="dropcap studio">Studio</span>
</a>

<style>
  a {
    /* font-size: calc(2rem + 4vw); */
    text-decoration: none;
    color: var(--color-2);
    font-family: var(--font-5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    display: block;
    -webkit-text-stroke: 0.005em black;
  }

  .studio {
    margin-top: -0.5em;
  }

  .dropcap::first-letter {
    font-size: 1.75em;
    font-family: Grusskarten Gotisch;
  }
</style>
