---
const { class: className, ...rest } = Astro.props;
---

<a class={className} {...rest} href="/">
  <span class="dropcap">Danceophile</span>
  <span class="dropcap studio">Studio</span>
</a>

<style>
  a {
    text-decoration: none;
    color: var(--color-2);
    font-family: var(--font-5);
    display: flex;
    justify-content: center;
    gap: 0 4rem;
    align-items: baseline;
    flex-wrap: wrap;
  }

  span {
    display: block;
    -webkit-text-stroke: 0.005em black;
  }

  .studio {
    margin-top: -0.5em;
  }

  .dropcap::first-letter {
    font-size: 1.75em;
    font-family: "Grusskarten";
  }
</style>
