---
import Social from "./Social.astro";
---

<details>
  <summary>Menu</summary>
  <div class="parent">
    <div class="content">
      <nav>
        <div class="title">Navigation</div>

        <div class="links">
          <a href="/">Home</a>
          <a href="/lessons/">Lessons</a>
          <a href="/postoley/">Postoley</a>
          <a href="/events/">Events</a>
          <a href="/gallery/">Gallery</a>
        </div>
      </nav>

      <div class="contact">
        <div class="title">Contact</div>
        <div class="email phone">
          <a href="mailto:masterst@colorado.edu">masterst@colorado.edu</a>
          <a href="tel:+13034996363">(303) 499-6363</a>
        </div>
      </div>
      <Social />
    </div>
  </div>
</details>

<style>
  .parent {
    display: flex;
    justify-content: center;
  }

  details {
    font-family: var(--font-1);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .content {
    background-color: var(--color-1);
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    margin: 0 0.75rem;
    margin-top: -3px;
    color: var(--color-4);
    filter: drop-shadow(0px 2px 2px black);
    position: absolute;
  }

  summary {
    cursor: pointer;
    filter: drop-shadow(0px 2px 2px black);
    background-color: var(--color-3);
    color: var(--color-1);
    padding: 0.5em 0;
    margin: 0 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  nav,
  .contact,
  .follow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    width: 100%;
    border-radius: 2px;
    filter: drop-shadow(0px 1px 1px #393939);
    background-color: var(--color-1);
  }

  a {
    font-family: var(--font-5);
    font-variant: small-caps;
    padding: 0.25rem 0.5rem;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    border-radius: 2px;
  }

  a:hover,
  a:focus {
    color: var(--color-1);
    background-color: var(--color-2);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    filter: drop-shadow(0px 2px 2px #4e4e4e);
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .social,
  .email.phone {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
