---
import Nav from "./Nav.astro";
---

<aside>
  <div class="container">
    <Nav />
  </div>
</aside>

<style>
  aside {
    max-width: 20rem;
    text-align: center;

    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: sticky;
    top: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 1rem;
  }
</style>

<style is:global>
  aside a {
    font-size: 1rem;
  }

  aside .links {
    justify-content: space-between;
  }
</style>
