---
import Nav from "./Nav.astro";
---

<aside>
  <div class="container">
    <Nav />
  </div>
</aside>

<style>
  aside {
    grid-area: sidebar;
    max-width: 25rem;
    margin-right: 4rem;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left: 2rem;
    padding-right: 4rem;
    text-align: center;

    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--background-color);
    filter: drop-shadow(0px 1px 1px black);
  }
</style>

<style is:global>
  aside .links {
    justify-content: space-between;
  }
</style>
