<a id="skiplink" href="#main-content" aria-label="Skip Link">Skip to Content</a>

<style>
  a {
    background-color: var(--background-color);
    margin-left: 1rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-radius: 5px;
    padding: 1em;
    z-index: 1;
    transition-duration: 0.25s;
    position: absolute;
    translate: -1000%;
    font-family: var(--font-1);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

  a:focus {
    translate: 0;
  }
</style>
